{% extends "base.html" %}
{% block title %}Uvachod{% endblock %}
{% block content %}
  <h1>Uvachod</h1>
  {% if form.errors %}
    <p>
      Vašyja username dy parol nie padychodziać.
      Kali łaska pasprabujcie znoŭ.
    </p>
  {% else %}
    <p>Kali łaska, skarystajciesia nastupnaj formaj dla ŭvachodu. Kali vy nia majecie ŭlikovaha zapisu, <a href="{% url 'register' %}">zarehistrujciesia tut</a> </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}"/>
      <p><input type="submit" value="Uvajści"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Zabyli svoj parol?</a> </p>
  </div>
{% endblock %}
