{% extends "base.html" %}

{% block title %}Skinuć vaš parol{% endblock %}

{% block content %}
    <h1>Skinuć vaš parol</h1>
    {% if validlink %}
        <p>Kali łaska, dvojčy ŭviadzicie vaš novy parol:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Źmianić parol"/></p>
        </form>
    {% else %}
        <p>Spasyłka dla źmieny parola była niasłušnaj, mahčyma tamu što jana ŭžo ŭžytaja.
        Kali łaska, zrabicie novy zapros na źmienu parola.</p>
    {% endif %}
{% endblock %}
